main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1025px;
  height: auto;
  gap: 30px;
}
section{
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1f3862;
  border-radius: 10px;
  max-height: 500px;
  height: 500px;
  width: 250px;
  gap: 30px;
  padding: 20px;
  h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: auto;
  }
}
.water-level-container {
  background-color: #1e3a5f; 
  border-radius: 10px;
  text-align: center;
  color: #fff;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  margin-bottom: auto;
}

.cylinder {
  position: relative;
  width: 140px;
  height: 200px;
  border: 2px solid #4b638c; 
  // background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.cylinder::before{
  content: "";
  width: 136px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0px;
  border-radius: 50%;
  z-index: 99;
}

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4db8ff;
  transition: height 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ;
  // animation: animate 4s ease-in-out infinite;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}

.water-level-info {
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: bold;
}

.btn-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
  margin-top: 20px;
  width: 100%;
  .add-button,.remove-button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .water-level-info{
    font-size: 18px;
    color: #fff;
  }
  .add-button{
    background-color: #4570c0;
    color: #1f3863;
  }
  .remove-button{
    background-color: #c95806;
    color: #1f3863;
  }
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.reset-button {
  background-color: #ff704d;
  border: none;
  outline: none;
  padding:5px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

// @keyframes animate {
// 	0%,
// 	100% {
// 		clip-path: polygon(0% 7%, 5% 4%, 15% 2%, 25% 2%, 38% 6%, 50% 9%, 60% 10%, 72% 11%, 79% 11%, 86% 8%, 94% 6%, 100% 4%, 99% 100%, 0% 100%);
// 	}

// 	50% {
// 		clip-path: polygon(0% 1%, 6% 6%, 16% 10%, 25% 10%, 35% 11%, 45% 9%, 54% 7%, 63% 4%, 70% 2%, 78% 6%, 86% 10%, 92% 14%, 100% 14%, 100% 100%, 0% 99%);
// 	}
// }
