<!--Wrap conatiner page-->
<main>
  <section>
    <div class="water-container">
     <h1>{{textHeading}}</h1>
      <div class="water-glass">
          <span>{{ waterLevel }}</span><span class="per-symb">%</span>
      </div>
      <div class="btn-group">
        <button *ngIf="waterLevel > 0" class="btn-remove" (click)="removeWater()">-</button>
        <span>{{ waterLevel }} ml</span>
        <button *ngIf="waterLevel < maxLimit" (click)="addWater()" class="btn-add" (click)="addWater()">+</button>
      </div>
    </div>
  </section>
  <!-- <img src="../assets/images/arrow.png">
  <section>
    <div class="water-container">
     <h1>{{textHeading}} </h1>
      <div class="water-glass">
          <span>{{ waterLevel }}</span><span class="per-symb">%</span>
      </div>
      <div class="btn-group">
        <button class="btn-remove" (click)="removeWater()">-</button>
        <span>{{ waterLevel }} ml</span>
        <button  class="btn-add" (click)="addWater()">+</button>
      </div>
    </div>
  </section>
  <img src="../assets/images/arrow.png">
  <section>
    <div class="water-container">
     <h1>{{textHeading}}</h1>
      <div class="water-glass">
          <span>{{ waterLevel }}</span><span class="per-symb">%</span>
      </div>
      <div class="btn-group">
        <button class="btn-remove" (click)="removeWater()">-</button>
        <span>{{ waterLevel }} ml</span>
        <button class="btn-add" (click)="addWater()">+</button>
      </div>
    </div>
  </section> -->
</main>



<router-outlet></router-outlet>
